<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <link rel="canonical" href="https://startbootstrap.com/previews/freelancer/">

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">

        <link rel="stylesheet" href="https://startbootstrap.com/assets/style-theme.css">

        <meta charset="UTF-8">
        <title>Password Reset</title>
    </head>

    <body>
        <section class="page-section" id="pwd_section">
        <br>

            <div class="row">
                <div class="col-lg-2 mx-auto">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <p class="help-block text-success" id="success_alert"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="main_container">

                <!-- Contact Section Heading -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Password reset</h2>

                <br>

                <!-- Contact Section Form -->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>New password</label>
                                <input class="form-control" id="password" name="password" type="password" placeholder="" required="required" data-validation-required-message="Please enter password." style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" aria-invalid="false">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Confirm password</label>
                                <input class="form-control" id="confirm_password" name="confirm_password" type="password" placeholder="" required="required" data-validation-required-message="Please enter password confirmation." style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" aria-invalid="false">
                                <p class="help-block text-danger" id="confirm_pwd_alert"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <input class="form-control" id="token" name="token" type="hidden" placeholder="" required="required" value="{{ .Token }}" data-validation-required-message="Invalid token" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" aria-invalid="false">
                            </div>
                        </div>

                        <br>

                        <div id="success"></div>
                            <div class="form-group">
                            <button class="btn btn-primary btn-xl" id="updatePasswordBtn">Change</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <script>
            $(document).ready(function() {
                $("#updatePasswordBtn").click(function(){
                    pwd = $("#password").val()
                    confirmPwd = $("#confirm_password").val()
                    token = $("#token").val()
                    confirmPwdAlert = $("#confirm_pwd_alert")
                    confirmPwdSuccessAlert = $("#success_alert")
                    mainContainer = $("#main_container")

                    if (pwd !== confirmPwd) {
                        confirmPwdAlert.html("Passwords do not match")
                    } else {
                        confirmPwdAlert.html("")

                        _data = JSON.stringify({
                            password: pwd,
                            token: token
                        })

                        url = "http://" + {{ .ServiceURL }} + "/password/update"

                        $.post(url, _data, function(data) {
                            mainContainer.hide()
                            confirmPwdSuccessAlert.html("Password changed")
                        }).done(function(msg) {
                            console.log("done: ", msg)
                        }).fail(function(msg) {
                            console.log("fail: ", msg)
                        });
                    }
                });
            });
        </script>
    </body>
</html>