<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password Reset</title>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <div id="main">
            <label>Password:</label><br />
            <input type="text" id="password" name="password"><br />

            <input type="hidden" id="token" name="token" value={{ .Token }}><br />
                
            <button id="send">Send</button>
        </div>

        <script>
            $(document).ready(function() {
                $("#send").click(function(){
                    _data = JSON.stringify({
                        password: $("#password").val(),
                        token: $("#token").val()
                    })

                    console.log(_data)

                   $.post("http://localhost:8080/password/update", _data, function(data) {
                        
                    }).done(function(msg) {
                       console.log("done: ", msg)
                    }).fail(function(msg) {
                       console.log("fail: ", msg)
                    });
                });
            });
        </script>
    </body>
</html>